/* STYLE CSS PAR JULIEN BERNARD POUR L'ASSOCIATION KPS (KERNEL PANIC SYSTEM) DE L'ECOLE ESIEA ET IN'TECH INFO, Paris */

body {
	margin: auto;
	width: 100%;
	height: 100%;
	background-color: white;
}

body header {
	display: block;
	width: 100%;
	height: 400px;
	text-align: center;
	border-bottom: 5px solid grey;
	background-color: black;
}

body section {
	display: block;
	width: 65%;
	margin: auto;
	margin-top: 50px;
	font-family: MalgunGothic;
}
	body a {
		text-decoration: none;
		color: #d3563d;
	}
	body a:hover {
		text-decoration: underline;
		color: #d3563d;
	}
	body h1 {
		font-size: 45px;
		text-align: center;
		margin-bottom: 0px;
	}
	body h2 {
		font-size: 30px;
		text-align: center;
		margin-top: 0px;
		color: #535353;
	}
	body h3 {
		font-size: 20px;
		margin-bottom: -10px;
		margin-left: 10px;
		color: #424242;
	}
	
	.citation {
		text-align: center;
		font-size: 0px;
		height: 80px;
		color: #666666;
	}
	.citation:hover {
		text-align: center;
		font-size: 12px;
		color: #3d9bd3;
		-webkit-transition-duration: 0.5s;
		-moz-transition-duration: 0.5s;
		transition-duration: 0.5s;
	}
	.avis {
		text-align: center;
		font-size: 0px;
		height: 400px;
		color: #666666;
	}
	.avis:hover {
		text-align: center;
		font-size: 12px;
		color: #3d9bd3;
		-webkit-transition-duration: 0.5s;
		-moz-transition-duration: 0.5s;
		transition-duration: 0.5s;
	}
	.stats {
		text-align: center;
		font-size: 0px;
		height: 220px;
		color: #666666;
	}
	.stats:hover {
		text-align: center;
		font-size: 12px;
		color: #3d9bd3;
		-webkit-transition-duration: 0.5s;
		-moz-transition-duration: 0.5s;
		transition-duration: 0.5s;
	}
	.technologies {
		text-align: center;
		font-size: 0px;
		height: 150px;
		color: #666666;
	}
	.technologies:hover {
		text-align: center;
		font-size: 12px;
		color: #3d9bd3;
		-webkit-transition-duration: 0.5s;
		-moz-transition-duration: 0.5s;
		transition-duration: 0.5s;
	}
	.effet:hover {
		display: block;
		-webkit-transform: translate(20px,0);
		-moz-transform: translate(20px,0);
		-ms-transform: translate(20px,0);
		-o-transform: translate(20px,0);
		transform: translate(20px,0); /* déclanchement de la transition au survol */
		-webkit-transition-duration: 1s;
		-moz-transition-duration: 1s;
		transition-duration: 1s;
	}
	
.small {
	font-size: 12px;
}
.center {
	text-align: center;
}

@font-face {
	font-family: 'MalgunGothic';
	src: url('malgun.eot');
	src: url('malgun.eot?#iefix') format('embedded-opentype'),
			 url('malgun.woff') format('woff'),
			 url('malgun.ttf') format('truetype'),
			 url('malgun.svg#malgun') format('svg');
	font-weight: normal;
	font-style: normal;
}