/* 2013 apocalyspace.css | General overlay on Foundation 4 | Author: Julien Bernard */

body {
	width: 100%;
	height: 100%;
}
html {
	background: black;
}

/* ==========================================================================
   Fonts
   ========================================================================== */

@font-face{
	font-family: 'LCD';
	src: url('lcd.eot');
	src: url('lcd.eot?#iefix') format('embedded-opentype'),
		url('lcd.woff') format('woff'),
		url('lcd.ttf') format('truetype'),
		url('lcd.svg#webfont') format('svg');
	}
	
@font-face{
	font-family: 'MALGUN';
	src: url('malgun.eot');
	src: url('malgun.eot?#iefix') format('embedded-opentype'),
		url('malgun.woff') format('woff'),
		url('malgun.ttf') format('truetype'),
		url('malgun.svg#webfont') format('svg');
	}
	
@font-face{
	font-family: 'FUDD';
	src: url('fudd.eot');
	src: url('fudd.eot?#iefix') format('embedded-opentype'),
		url('fudd.woff') format('woff'),
		url('fudd.ttf') format('truetype'),
		url('fudd.svg#webfont') format('svg');
	}

/* ==========================================================================
   General design
   ========================================================================== */
   
a:hover {
	color: #dc633d;
}
	
.bold {
	font-weight: bold;
}
.italic {
	font-style: italic;
}
.center {
	text-align: center;
}
.right {
	text-align: right;
}
.smaller {
	font-size: 12px;
}
.smaller-2 {
	font-size: 14px;
}
	.important-alert {
		color: #d3563d;
	}
	.important-return {
		color: #d3873d;
	}
	.important-send {
		color: #3d9bd3;
	}
	
.good {
	color: #62c917;
}
.bad {
	color: #d3563d;
}
.secondary {
	color: #666;
}
.pointer {
	cursor: pointer;
}

.info-box {
	width: 100%;
	background: url("../img/bg_box_blue.png") repeat;
	border: 1px solid #61c2ed;
	padding: 10px;
	text-align: center;
	font-weight: normal;
	font-size: 15px;
	font-family: MALGUN;
	line-height: 20px;
	color: #ededed;
	margin-bottom: 20px;
	letter-spacing: 0.2px;
}
	.info-box .important{
		color: #ededed;
		font-size: 16px;
		line-height: 25px;
	}
	.info-box a {
		color: #61c2ed;
	}
.error-box {
	width: 100%;
	margin: auto;
	background: url("../img/bg_box_red.png") repeat;
	border: 1px solid #faa33d;
	padding: 10px;
	padding-left: 20px;
	font-weight: normal;
	font-size: 15px;
	font-family: MALGUN;
	line-height: 20px;
	color: #ededed;
	margin-bottom: 20px;
	letter-spacing: 0.2px;
}
	.error-box .important{
		color: #3d9bd3;
		font-size: 16px;
		line-height: 25px;
	}
	.error-box a {
		color: #ededed;
	}
	.error-box a:hover {
		color : #61c2ed;
	}
	.error-box h1 {
		color: #ededed;
	}
.success-box {
	width: 100%;
	background: url("../img/bg_box_green.png") repeat;
	border: 1px solid #7dd37a;
	padding: 10px;
	text-align: center;
	font-weight: normal;
	font-size: 15px;
	font-family: MALGUN;
	line-height: 20px;
	color: #424242;
	margin-bottom: 20px;
	letter-spacing: 0.2px;
}
	.success-box .important{
		color: #3d9bd3;
		font-size: 16px;
		line-height: 25px;
	}
	.success-box a {
		color: #7dd37a;
	}
   
/* ==========================================================================
   Header
   ========================================================================== */

#main header {
	width: 100%;
	height: 65px;
	background-color: black;
	border-bottom: 5px solid #555;
}
	#main header #header_infobar {
		width: 100%;
		height: 65px;
		position: absolute;
		color: white;
		font-size: 18px;
		font-family: MALGUN;
		text-align: center;
		padding-top: 25px;
		transition: all 0.5s ease;
	}
	#main header:hover #header_infobar  {
		color: #dc633d;
		cursor: pointer;
		transition: all 0.5s ease;
	}
		#main header #header_infobar_logo {
			width: 25%;
			height: 24px;
			position: absolute;
			margin-top: 20px;
			margin-left: 10%;
			background: url("../img/logo_header.png") no-repeat;
		}
		#main header #header_infobar_logo:hover {
			background: url("../img/logo_header_hover.png") no-repeat;
		}
		
/* ==========================================================================
   Section (body)
   ========================================================================== */

#main #main-section {
	width: 100%;
	height: auto;
	padding-top: 20px;
	background: #fafafa;
	padding-bottom: 40px;
	transition: all 1s ease-out;
	background: url("../img/bg.png");
	background-repeat: no-repeat;
	background-size: cover;
}
	#main #main-section h1 {
		font-size: 18px;
		letter-spacing: 1px;
		font-weight: normal;
		font-family: MALGUN;
		margin-left: -10px;
	}
	#main header:hover ~ section {
		transition: all 1s ease;
		opacity: 0.1;
	}
	
#main-section .section-container {
	border: 1px solid #555;
	min-width: 100%;
}
#main-section .section-container .content  {
	background: #333;
	border: none;
}
#main-section .section-container a  {
	background: #555;
	color: #ededed;
}
#main-section .section-container a:hover  {
	background: #333;
}
#main-section .section-container .active a  {
	background: #444;
}
#main-section .section-container section {
	background: #333;
}
#main-section .section-container .title {
	border: none;
}
	
#orbit {
	background: #e8e5d6;
	border-radius: 6px;
	padding: 5px;
	box-shadow: 5px 5px 5px #aaa;
	margin-bottom: 30px;
}

#main article {
	background-image: url("../img/main-bg.png");
	background-repeat: repeat;
	color: #ededed;
	margin-top: 15px;
	margin-bottom: -20px;
	padding-left: 20px;
	padding-top: 10px;
}
article p {
	font-size: 16px;
	line-height: 18px;
	color: #ededed;
	margin-bottom: 15px;
	font-family: MALGUN;
}
	article .italic {
		font-size: 14px;
		line-height: 16px;
	}
	article h1 {
		color: #ededed;
	}
	article h2 {
		font-family: MALGUN;
		font-size: 20px;
		font-weight: normal;
		text-align: center;
		color: #ededed;
	}
	article h2 a {
		padding-left: 15px;
		padding-right: 15px;
		color: #61c2ed;
	}
	article h2 a:hover {
		color: #e8653c;
	}
	article .small {
		font-size: 14px;
	}
	
	
/* ==========================================================================
   Navigation
   ========================================================================== */
   
.small-nav {
	width: 100%;
	min-height: 65px;
	background-color: #121212;
	margin-top: -20px;
	padding-top: 14px;
	font-family: MALGUN;
	text-align: center;
	border-bottom: 1px solid #666666;
}
	.small-nav a {
		padding-right: 10px;
		padding-left: 10px;
		padding-top: 12px;
		padding-bottom: 12px;
	}

#navigation {
	background: #111;
	opacity: 1;
	color: #ededed;
	position: fixed;
	right: 0;
	top: 0;
	width: 75px;
	height: 100%;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    transition: 0.5s;
	border-left: 1px solid #bdc3c7;
}
	#navigation img, #informations img {
		width: 45px;
		padding-left: 5px;
	}
	#navigation li, #informations li {
		list-style: none;
		padding: 10px;
	}
	#navigation li:hover, #informations li:hover {
		background: #000;
	}
	#navigation:hover , #informations:hover{
		opacity: 1;
	}
	#navigation a, #informations a {
		color: #ecf0f1;
		font-family: MALGUN;
		font-size: 19px;
	}
	#navigation .copyright a, #informations .copyright a {
		color: #bdc3c7;
		font-family: MALGUN;
		font-size: 13px;
	}
	#navigation .border-top, #informations .border-top {
		border-top: 1px solid #030303;
	}
	#navigation .border-bottom, #informations .border-bottom {
		border-bottom: 1px solid #222;
	}
	#navigation .border-top-bottom , #informations .border-top-bottom {
		border-top: 1px solid #030303;
		border-bottom: 1px solid #222;
	}
	#navigation .f-bottom, #informations  .f-bottom {
		width: 100%;
		position: absolute;
		bottom: 0;
	}
	
	#navigation span, #informations span {
		padding: 0;
		position: absolute;
		overflow: hidden;
		height: 100%;
		-webkit-transition: 0.5s;
		-moz-transition: 0.5s;
		transition: 0.5s;
		display: none;
		border-right: 1px solid #bdc3c7;
	}
	#navigation:hover span, #informations:hover span {
		display: block;
		width: 225px;
		overflow: visible;
		background: #111;
		height: 100%;
		-webkit-transition: 0.5s;
		-moz-transition: 0.5s;
		transition: 0.5s;
	}
	#navigation > span, #informations > span {
		background: red;
	}
	#navigation:hover , #informations:hover {
		text-decoration:none;
		width: 225px;
		-webkit-transition: 0.5s;
		-moz-transition: 0.5s;
		transition: 0.5s;
	}
	#navigation:hover .first, #informations:hover .first {
		display: none;
	}
	.copyright {
		font-size: 12px;
		font-family: MALGUN;
		color: #95a5a6;
	}

/* ==========================================================================
   Footer
   ========================================================================== */
   
footer {
	width: 100%;
	background: black;
	border-top: 2px solid #999999;
	padding: 0;
}
	footer section {
		padding-top: 10px;
	}
	footer section p {
		line-height: 18px;
		color: #b8b8b8;
		font-size: 12px;
		font-family: MALGUN;
	}
	footer section nav a {
		text-transform: uppercase;
	}
	footer header a {
		color: #828282;
	}
	footer article a {
		color: #e2e2e2;
		text-transform: uppercase;
		font-size: 11px;
	}
	footer article a:hover {
		color: #61c2ed;
	}
	footer header .row div {
		height: 23px;
		margin-top: 5px;
		background: url("../img/arrow_top.png") right no-repeat;
	}
	footer header .row div:hover {
		background: url("../img/arrow_top_hover.png") right no-repeat;
	}

/* ==========================================================================
   When player
   ========================================================================== */
   
/* Generale */
.ac-container {
	background: red;
}
#img-account {
		width: 25px;
		height: 30px;
		background: url("../img/account.png") no-repeat;
	}
		#img-account:hover, .img-current #img-account {
			background: url("../img/account_hover.png") no-repeat;
		}
	#img-message {
		width: 25px;
		height: 30px;
		background: url("../img/message.png") no-repeat;
	}
		.img-message-new #img-message  {
			background: url("../img/message_receive.png") no-repeat;
		}
		#img-message:hover, .img-current #img-message {
			background: url("../img/message_hover.png") no-repeat;
		}
		
	#img-exit {
		width: 25px;
		height: 30px;
		background: url("../img/exit.png") no-repeat;
	}
		#img-exit:hover, .img-current #img-exit {
			background: url("../img/exit_hover.png") no-repeat;
		}

/* Planets */
.player-planet{
	position: relative;
}
	.player-planet:hover #player-planet-hidden {
		opacity: 0.8;
		background-color: black;
		transition: all 1s;
		color: white;
		padding-top: 43px;
	}
	
#player-planet-hidden {
	opacity: 0;
	position: absolute;
	background-color: black;
	background-position: center;
	width: 100%;
	height: 100%;
	transition: all 2s;
	text-align: center;
	padding-top: 0px;
}

#player-planet {
	width: 100%;
	height: 100px;
	background-image: url(../img/player_planet.png);
}
	#player-planet:hover {
		background-image: url(../img/player_planet_hover.png);
	}
	
.player-planet-name {
	color: #3d9bd3;
	font-size: 16px;
}
.player-planet-text {
	color: #666666;
	font-size: 14px;
}
	.player-planet-text a {
		color: #424242;
	}
	
/* Structure, Gestion */

.player-building{
	position: relative;
}
	.player-building:hover .player-building-hidden {
		opacity: 0.6;
		background-color: black;
		transition: all 1s;
		color: white;
		padding-top: 40px;
	}
	
.player-building-hidden {
	opacity: 0;
	position: absolute;
	background-color: black;
	background-position: center;
	width: 100%;
	height: 100%;
	transition: all 2s;
	text-align: center;
	padding-top: 0px;
}

article ul {
	width: 100%;
	perspective: 800px;
	padding: 0;
	margin: auto;
	text-align: center;
	margin-top: 40px;
	font-size: 15px;
	font-family: MALGUN;
}
article ul li {
	display: inline-block;
	width: 31%;
	min-width: 210px;
	height: 220px;
	background: #f6f6f6;
	text-align: center;
	padding: 5px;
	position: relative;
	z-index: 50;
	transition: all 0.3s;
	margin: 5px;
	-moz-box-shadow: 0px 0px 2px 0px #cfcfcf;
	-webkit-box-shadow: 0px 0px 2px 0px #cfcfcf;
	-o-box-shadow: 0px 0px 2px 0px #cfcfcf;
	box-shadow: 0px 0px 2px 0px #cfcfcf;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#cfcfcf, Direction=NaN, Strength=2);
}
	article .large-ul {
		margin-top: 20px;
	}
	article .large-ul li {
		height: 260px;
	}
	
	article ul li:hover { 
		transform: rotateX(0deg) scale(1.2);
		background: black;
		color: white;
	}
	article ul li:hover ~ li {
	}
	article ul li:hover { 
		z-index: 60;
		-moz-box-shadow: 0px 0px 5px 2px #424242;
		-webkit-box-shadow: 0px 0px 5px 2px #424242;
		-o-box-shadow: 0px 0px 5px 2px #424242;
		box-shadow: 0px 0px 5px 2px #424242;
		filter:progid:DXImageTransform.Microsoft.Shadow(color=#424242, Direction=NaN, Strength=5);
	}
	article ul:hover li:not(:hover) {
		-webkit-transform:rotateX(25deg);
		-moz-transform:rotateX(25deg);
		-ms-transform:rotateX(25deg);
		-o-transform:rotateX(25deg);
		transform:rotateX(25deg);
		opacity: 0.4;
	}
	article ul:hover li:hover ~ li {
		-webkit-transform:rotateX(25deg);
		-moz-transform:rotateX(25deg);
		-ms-transform:rotateX(25deg);
		-o-transform:rotateX(25deg);
		transform:rotateX(25deg);
		opacity: 0.4;
	}
article li img {
	width: 100px;
	height: 100px;
	background: white;
	-moz-box-shadow: 0px 0px 4px 0px #ffffff;
	-webkit-box-shadow: 0px 0px 4px 0px #ffffff;
	-o-box-shadow: 0px 0px 4px 0px #ffffff;
	box-shadow: 0px 0px 4px 0px #ffffff;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#ffffff, Direction=NaN, Strength=4);
	border: 1px solid #f0f0f0;
}