/* 2013 apocalyspace.css | General overlay on Foundation 4 | Author: Julien Bernard */


/* ==========================================================================
   Fonts
   ========================================================================== */

@font-face{
	font-family: 'LCD';
	src: url('lcd.eot');
	src: url('lcd.eot?#iefix') format('embedded-opentype'),
		url('lcd.woff') format('woff'),
		url('lcd.ttf') format('truetype'),
		url('lcd.svg#webfont') format('svg');
	}
	
@font-face{
	font-family: 'MALGUN';
	src: url('malgun.eot');
	src: url('malgun.eot?#iefix') format('embedded-opentype'),
		url('malgun.woff') format('woff'),
		url('malgun.ttf') format('truetype'),
		url('malgun.svg#webfont') format('svg');
	}
	
@font-face{
	font-family: 'FUDD';
	src: url('fudd.eot');
	src: url('fudd.eot?#iefix') format('embedded-opentype'),
		url('fudd.woff') format('woff'),
		url('fudd.ttf') format('truetype'),
		url('fudd.svg#webfont') format('svg');
	}

/* ==========================================================================
   General design
   ========================================================================== */

a:hover {
	color: #dc633d;
}
	
.bold {
	font-weight: bold;
}
.italic {
	font-style: italic;
}
.center {
	text-align: center;
}
.right {
	text-align: right;
}
.smaller {
	font-size: 12px;
}
.smaller-2 {
	font-size: 14px;
}
	.important-alert {
		color: #d3563d;
	}
	.important-return {
		color: #d3873d;
	}
	.important-send {
		color: #3d9bd3;
	}

.info-box {
	width: 100%;
	background: url("../img/bg_box_blue.png") repeat;
	border: 1px solid #61c2ed;
	padding: 10px;
	text-align: center;
	font-weight: normal;
	font-size: 15px;
	font-family: MALGUN;
	line-height: 20px;
	color: #424242;
	margin-bottom: 20px;
	letter-spacing: 0.2px;
}
	.info-box .important{
		color: #3d9bd3;
		font-size: 16px;
		line-height: 25px;
	}
	.info-box a {
		color: #61c2ed;
	}
.error-box {
	width: 100%;
	margin: auto;
	background: url("../img/bg_box_red.png") repeat;
	border: 1px solid #faa33d;
	padding: 10px;
	text-align: center;
	font-weight: normal;
	font-size: 15px;
	font-family: MALGUN;
	line-height: 20px;
	color: #424242;
	margin-bottom: 20px;
	letter-spacing: 0.2px;
}
	.error-box .important{
		color: #3d9bd3;
		font-size: 16px;
		line-height: 25px;
	}
	.error-box a {
		color: #faa33d;
	}
.success-box {
	width: 100%;
	background: url("../img/bg_box_green.png") repeat;
	border: 1px solid #7dd37a;
	padding: 10px;
	text-align: center;
	font-weight: normal;
	font-size: 15px;
	font-family: MALGUN;
	line-height: 20px;
	color: #424242;
	margin-bottom: 20px;
	letter-spacing: 0.2px;
}
	.success-box .important{
		color: #3d9bd3;
		font-size: 16px;
		line-height: 25px;
	}
	.success-box a {
		color: #7dd37a;
	}
   
/* ==========================================================================
   Header
   ========================================================================== */

#main header {
	width: 100%;
	height: 405px;
	background-color: black;
	border-bottom: 5px solid #999999;
}
	#main header #header_infobar {
		width: 100%;
		height: 65px;
		background: url("../img/bg_infobar.png") repeat-x;
		position: absolute;
		color: white;
		font-size: 19px;
		font-family: LCD;
		text-align: center;
		padding-top: 30px;
		transition: all 1s ease;
	}
	#main header:hover #header_infobar  {
		color: #dc633d;
		font-size: 20px;
		cursor: pointer;
		transition: all 1s ease;
	}
		#main header #header_infobar_logo {
			width: 25%;
			height: 24px;
			position: absolute;
			margin-top: 20px;
			margin-left: 10%;
			background: url("../img/logo_header.png") no-repeat;
		}
		#main header #header_infobar_logo:hover {
			background: url("../img/logo_header_hover.png") no-repeat;
		}
		#main header #header_infobar_border {
			width: 100%;
			height: 5px;
			margin-top: 65px;
			background: black;
			position: absolute;
			opacity : 0.5;
			filter : alpha(opacity=50);
		}
	
	#main header #header_image {
		max-width: 66%;
		height: 400px;
		margin: auto;
		background: url("../img/bg_header.png") no-repeat center;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		-ms-background-size: cover;
		background-size: cover;
		text-align: center;
	}
		#main header p {
			position: absolute;
			font-family: MALGUN;
			font-size: 18px;
			color: white;
			margin-top: -350px;
			text-align: center;
			transition: all 0.5s ease-out;
			opacity: 0;
		}
		#main header:hover p {
			position: absolute;
			transition: all 1s ease;
			margin-top: 30px;
			margin-bottom: -10px;
			font-size: 16px;
			color: black;
			opacity: 1;
		}
		#main header #header_image_left {
			width: 50px;
			height: 400px;
			float: left;
			background-image: linear-gradient(to left, rgba(0,0,0,.0) 0%, rgba(0,0,0,.4) 50%, rgba(0,0,0,.9) 100%);
			background-image: -moz-linear-gradient(to left, rgba(0,0,0,.0) 0%, rgba(0,0,0,.4) 50%, rgba(0,0,0,.9) 100%);
			background-image: -webkit-linear-gradient(to left, rgba(0,0,0,.0) 0%, rgba(0,0,0,.4) 50%, rgba(0,0,0,.9) 100%);
			background-image: -o-linear-gradient(to left, rgba(0,0,0,.0) 0%, rgba(0,0,0,.4) 50%, rgba(0,0,0,.9) 100%);
			background-image: -ms-linear-gradient(to left, rgba(0,0,0,.0) 0%, rgba(0,0,0,.4) 50%, rgba(0,0,0,.9) 100%);
		}
		#main header #header_image_right {
			width: 50px;
			height: 400px;
			float: right;
			background-image: linear-gradient(to left, rgba(0,0,0,.9) 0%, rgba(0,0,0,.4) 50%, rgba(0,0,0,.0) 100%);
			background-image: -moz-linear-gradient(to left, rgba(0,0,0,.9) 0%, rgba(0,0,0,.4) 50%, rgba(0,0,0,.0) 100%);
			background-image: -webkit-linear-gradient(to left, rgba(0,0,0,.9) 0%, rgba(0,0,0,.4) 50%, rgba(0,0,0,.0) 100%);
			background-image: -o-linear-gradient(to left, rgba(0,0,0,.9) 0%, rgba(0,0,0,.4) 50%, rgba(0,0,0,.0) 100%);
			background-image: -ms-linear-gradient(to left, rgba(0,0,0,.9) 0%, rgba(0,0,0,.4) 50%, rgba(0,0,0,.0) 100%);
		}
		
/* ==========================================================================
   Section (body)
   ========================================================================== */

#main section {
	width: 100%;
	padding-top: 20px;
	background: #fafafa;
	transition: all 1s ease-out;
}
	#main section h1 {
		font-size: 18px;
		letter-spacing: 1px;
		font-weight: normal;
		font-family: MALGUN;
		margin-left: -10px;
	}
	#main header:hover ~ section {
		transition: all 1s ease;
		opacity: 0.1;
	}
	section section:hover #links {
		opacity: 1;
		transition: all 1s ease;
	}

#links {
	opacity: 0.3;
	transition: all 2s ease;
}
	
#orbit {
	background: #e8e5d6;
	border-radius: 6px;
	padding: 5px;
	box-shadow: 5px 5px 5px #aaa;
	margin-bottom: 30px;
}

#main {
	padding-bottom: 100px;
}

article p {
	font-size: 16px;
	line-height: 18px;
	color: #333333;
	margin-bottom: 15px;
	font-family: MALGUN;
}
	article .italic {
		font-size: 14px;
		line-height: 16px;
	}
	article h2 {
		font-family: MALGUN;
		font-size: 20px;
		font-weight: normal;
		text-align: center;
		color: #e8653c;
	}
	article h2 a {
		padding-left: 15px;
		padding-right: 15px;
		color: #e8653c;
	}
	article h2 a:hover {
		color: #61c2ed;
	}
	article .small {
		font-size: 14px;
	}
	
/* ==========================================================================
   Footer
   ========================================================================== */
   
footer {
	width: 100%;
	background: black;
	border-top: 5px solid #999999;
	padding: 0;
	padding-bottom: 20px;
}
	footer header {
		padding-top: 10px;
		background: #333333;
	}
	footer header p {
		line-height: 18px;
		color: #828282;
		font-size: 13px;
		font-family: Verdana, MALGUN;
	}
	footer header .small {
		font-size: 11px;
	}
	footer section {
		padding-top: 20px;
	}
	footer section p {
		line-height: 18px;
		color: #b8b8b8;
		font-size: 12px;
		font-family: MALGUN;
	}
	footer section nav p {
		text-transform: uppercase;
	}
	footer header a {
		color: #828282;
	}
	footer article a {
		color: #e2e2e2;
		text-transform: uppercase;
		font-size: 11px;
	}
	footer article a:hover {
		color: #61c2ed;
	}
	footer header .row div {
		height: 23px;
		margin-top: 5px;
		background: url("../img/arrow_top.png") right no-repeat;
	}
	footer header .row div:hover {
		background: url("../img/arrow_top_hover.png") right no-repeat;
	}

/* ==========================================================================
   When player
   ========================================================================== */

.player-planet{
	position: relative;
}
	.player-planet:hover #player-planet-hidden {
		opacity: 0.8;
		background-color: black;
		transition: all 1s;
		color: white;
		padding-top: 43px;
	}
	
#player-planet-hidden {
	opacity: 0;
	position: absolute;
	background-color: black;
	background-position: center;
	width: 100%;
	height: 100%;
	transition: all 2s;
	text-align: center;
	padding-top: 0px;
}

#player-planet {
	width: 100%;
	height: 100px;
	background-image: url(../img/player_planet.png);
}
	#player-planet:hover {
		background-image: url(../img/player_planet_hover.png);
	}
	
.player-planet-name {
	color: #3d9bd3;
	font-size: 16px;
}
.player-planet-text {
	color: #666666;
	font-size: 14px;
}
	.player-planet-text a {
		color: #424242;
	}